body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    max-width: 600px;
    text-align: center;
    align-items: center;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 45%;
    box-sizing: border-box;
    text-align: center;
}

form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    text-align: center;
}

.form-group label {
    display: block;
    font-weight: bold;
    text-align: center;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

button:hover {
    background-color: #327435;
}

.or {
    margin: 10px 0;
    font-weight: bold;
}


