.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://cdn.discordapp.com/attachments/871429364544311369/1151851287172878366/fbkrkver.jpeg");
}
